In [ ]:
#importar las dependencias
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Cargar la ruta de archivo PIB
gdp_data_to_load = "../Resources/GDP.csv"

# Cargar la ruta de catalogo paises
onu_data_to_load = "../Resources/ONU.csv"

# Establece el archivo de Salida
file_name = "../Resources/PIB.csv"

In [2]:
# Lee los archivos y almacenarlos en un dataframe
df_gdp_data = pd.read_csv(gdp_data_to_load)
df_onu_data = pd.read_csv(onu_data_to_load)

In [3]:
# Los datos fueron obtenidos desde el banco mundial:
# http://datatopics.worldbank.org/world-development-indicators/themes/economy.html

# Se renombran las columnas para generar una subnet
df_gdp_data.rename(columns={'Country Name':'Country'}, inplace=True)

In [4]:
#Se obtienen las diferencias entre los diferentes paises
diferencia = set(pd.unique(df_onu_data["Country"]).tolist()) - set(pd.unique(df_gdp_data["Country"]).tolist()) 
print(sorted(diferencia))

['Bahamas', 'Belarus\xa0[1]', 'Bosnia and Herzegovina\xa0[2]', 'Cape Verde', 'Congo (Republic of the)', 'Croatia\xa0[3]', 'Czech Republic\xa0[4]', 'Côte d’Ivoire', 'Democratic People’s Republic of Korea', 'Democratic Republic of the Congo[5]', 'Egypt\xa0[6]', 'Gambia', 'Germany\xa0[7]', 'Indonesia\xa0[8]', 'Iran', 'Kyrgyzstan', 'Lao People’s Democratic Republic', 'Malaysia\xa0[9]', 'Micronesia (Federated States of)', 'Montenegro\xa0[10]', 'Republic of Korea', 'Republic of Moldova', 'Russian Federation\xa0[11]', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Serbia\xa0[12]', 'Slovakia\xa0[13]', 'Slovenia\xa0[14]', 'Swaziland', 'Syria\xa0[15]', 'The former Yugoslav Republic of Macedonia\xa0[16]', 'Timor Leste', 'United of Republic of Tanzania[17]', 'Venezuela', 'Viet Nam', 'Yemen\xa0[18]']

In [5]:
#Se limpia la informacion de acuerdo a las diferencias
# Se limpia el dataframe de la ONU
df_onu_data['Country'] = df_onu_data['Country'].str.lower() 
df_onu_data['Country'] = df_onu_data['Country'].str.replace(r"\s+\(.*\)","")
df_onu_data['Country'] = df_onu_data['Country'].str.replace(r"\s+\[.*\]","")
df_onu_data['Country'] = df_onu_data['Country'].str.replace(r"\[.*\]","")

# Se limpia el dataframe de el PIB
df_gdp_data['Country'] = df_gdp_data['Country'].str.lower() 
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("bahamas, the","bahamas")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("cabo verde","cape verde")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("congo, rep.","congo")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("cote d'ivoire","côte d’ivoire")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("congo, dem. rep.","democratic republic of the congo")

df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("korea, rep.","republic of korea")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("korea, dem. people’s rep.","democratic people’s republic of korea")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("egypt, arab rep.","egypt")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("gambia, the","gambia")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("iran, islamic rep.","iran")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("lao pdr","lao people’s democratic republic")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("macedonia, fyr","the former yugoslav republic of macedonia")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("micronesia, fed. sts.","micronesia")

df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("moldova","republic of moldova")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("syrian arab republic","syria")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("slovak republic","slovakia")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("st. vincent and the grenadines","saint vincent and the grenadines")

df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("st. lucia","saint lucia")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("st. kitts and nevis","saint kitts and nevis")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("tanzania","united of republic of tanzania")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("timor-leste","timor leste")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("vietnam","viet nam")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("venezuela, rb","venezuela")
df_gdp_data['Country'] = df_gdp_data['Country'].str.replace("yemen, rep.","yemen")

In [6]:
#Se vuelve a validar las diferencias en los paises
diferencia = set(pd.unique(df_onu_data["Country"]).tolist()) - set(pd.unique(df_gdp_data["Country"]).tolist()) 
print(sorted(diferencia))

['kyrgyzstan', 'swaziland']

In [7]:
# Se quitan las ultimas columnas para que coincidan con los años
df_gdp_data.drop(df_gdp_data.columns[[-1, -2, -3, -4, -5, -6]], axis=1, inplace=True)
df_gdp_data.set_index("Country")

# Se agrupa el data frame del PIB para tener la misma estructura que el de la ONU
df_pib = pd.wide_to_long(df_gdp_data, ["PIB"], i="Country", j="Year")
df_pib.head(5)

                     Indicator Code         Indicator Name Country Code  PIB
Country     Year
aruba       1960  NY.GDP.MKTP.KD.ZG  GDP growth (annual %)          ABW  NaN
afghanistan 1960  NY.GDP.MKTP.KD.ZG  GDP growth (annual %)          AFG  NaN
angola      1960  NY.GDP.MKTP.KD.ZG  GDP growth (annual %)          AGO  NaN
albania     1960  NY.GDP.MKTP.KD.ZG  GDP growth (annual %)          ALB  NaN
andorra     1960  NY.GDP.MKTP.KD.ZG  GDP growth (annual %)          AND  NaN

In [22]:
# Se resetea el indice del nuevo dataframe
df_pib = df_pib.reset_index()

In [23]:
# Se exporta la información del PIB
df_pib.to_csv(file_name, encoding='utf-8', index=False)
df_pib

,Country,Year,Country Code,Indicator Name,Indicator Code,PIB
0,aruba,1960,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
1,afghanistan,1960,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
2,angola,1960,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
3,albania,1960,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
4,andorra,1960,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
5,arab world,1960,ARB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
6,united arab emirates,1960,ARE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
7,argentina,1960,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
8,armenia,1960,ARM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
9,american samoa,1960,ASM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
10,antigua and barbuda,1960,ATG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
11,australia,1960,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
12,austria,1960,AUT,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
13,azerbaijan,1960,AZE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
14,burundi,1960,BDI,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
15,belgium,1960,BEL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
16,benin,1960,BEN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
17,burkina faso,1960,BFA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
18,bangladesh,1960,BGD,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
19,bulgaria,1960,BGR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
20,bahrain,1960,BHR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
21,bahamas,1960,BHS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
22,bosnia and herzegovina,1960,BIH,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
23,belarus,1960,BLR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
24,belize,1960,BLZ,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
25,bermuda,1960,BMU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
26,bolivia,1960,BOL,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
27,brazil,1960,BRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
28,barbados,1960,BRB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
29,brunei darussalam,1960,BRN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
...,...,...,...,...,...,...
14226,latin america & the caribbean (ida & ibrd coun...,2013,TLA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.826198
14227,timor-leste,2013,TLS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-11.001768
14228,middle east & north africa (ida & ibrd countries),2013,TMN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.659192
14229,tonga,2013,TON,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-3.120604
14230,south asia (ida & ibrd),2013,TSA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.087745
14231,sub-saharan africa (ida & ibrd countries),2013,TSS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.990982
14232,trinidad and tobago,2013,TTO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.980850
14233,tunisia,2013,TUN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.875524
14234,turkey,2013,TUR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,8.491316
14235,tuvalu,2013,TUV,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.576642
14236,tanzania,2013,TZA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,7.263061
14237,uganda,2013,UGA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.586906
14238,ukraine,2013,UKR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.026730
14239,upper middle income,2013,UMC,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.037098
14240,uruguay,2013,URY,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.637539
14241,united states,2013,USA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.677332
14242,uzbekistan,2013,UZB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,8.000000
14243,st. vincent and the grenadines,2013,VCT,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.833169
14244,"venezuela, rb",2013,VEN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.343094
14245,british virgin islands,2013,VGB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN
14246,virgin islands (u.s.),2013,VIR,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-5.830816
14247,vietnam,2013,VNM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.421883
14248,vanuatu,2013,VUT,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.969146
14249,world,2013,WLD,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.617421
14250,samoa,2013,WSM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-1.933859
14251,kosovo,2013,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.431230
14252,"yemen, rep.",2013,YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.823519
14253,south africa,2013,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.485201
14254,zambia,2013,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.059376
14255,zimbabwe,2013,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.989493