# Climate change: A quick glance of Mexico

###### Dependecies for all the analysis

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from ipywidgets import widgets, interactive

## Analysis between datasets

### Correlative Population vs Temperature

###### Inputs & Dataframes

In [2]:
Temp = './TEMP/Resources/Temperature2.csv'
TempDf = pd.read_csv(Temp)

Pop = './POP/Resources/pop.csv'
PopDf = pd.read_csv(Pop)

PopDf.rename(columns={'Country Name':'Country', 'year':'Year'}, inplace=True)
TempDf.rename(columns={'Country Name':'Country', 'year':'Year'}, inplace=True)

In [3]:
PopDf.head()

,Country,Year,Indicator Name,Indicator Code,Country Code,POP
0,aruba,1960,Population growth (annual %),SP.POP.GROW,ABW,3.148037
1,afghanistan,1960,Population growth (annual %),SP.POP.GROW,AFG,1.816077
2,angola,1960,Population growth (annual %),SP.POP.GROW,AGO,1.903517
3,albania,1960,Population growth (annual %),SP.POP.GROW,ALB,3.015423
4,andorra,1960,Population growth (annual %),SP.POP.GROW,AND,7.050663

In [4]:
TempDf.head()

       Country  Year  AverageTemperature  Standard Deviation
0  afghanistan  1960           15.051182            8.919992
1  afghanistan  1961           14.064917            9.684162
2  afghanistan  1962           13.768667            9.143732
3  afghanistan  1963           15.033417            8.857023
4  afghanistan  1964           13.084917           10.401564

###### Merge

In [5]:
TempPop = pd.merge(TempDf,PopDf,how='left', left_on=['Country','Year'],right_on=['Country','Year'])

###### Graphic Drop Down List

In [6]:
drop_country = widgets.Dropdown(
    options= ['All'] + list(TempPop['Country'].unique()),
    value='All',
    description='Country:',
)

drop_start_year = widgets.Dropdown(
    options= list(TempPop['Year'].unique()),
    value = TempPop['Year'].min(),
    description='Start Year:',
)

drop_end_year = widgets.Dropdown(
    options= ['All'] + list(TempPop['Year'].unique()),
    value= TempPop['Year'].max(),
    description='End Year:',
)

###### Graphic construction

In [7]:
try:
    def plotit(drop_country, drop_start_year, drop_end_year):
        country_pop_pip_plt_2 = TempPop.copy()
    
        if drop_country != 'All':
            country_pop_pip_plt_2 = country_pop_pip_plt_2[country_pop_pip_plt_2.Country == drop_country]

        # Filtra el maximo y el minimo
        country_pop_pip_plt_2 = country_pop_pip_plt_2[(country_pop_pip_plt_2.Year >= drop_start_year) & (country_pop_pip_plt_2.Year <= drop_end_year)]

        country_pop_pip_plt_2["POP"] = pd.to_numeric(country_pop_pip_plt_2["POP"])
        country_pop_pip_plt_2["Year"] = pd.to_numeric(country_pop_pip_plt_2["Year"])
    
        country_pop_pip_plt_2 = country_pop_pip_plt_2.reset_index()
      
        fig, ax1 = plt.subplots()
        ax2 = ax1.twinx()

        TempY, = ax1.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['AverageTemperature'], color="blue", label="Average Temperature")
        PopY, = ax2.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['POP'], color="green",label='Population')

        plt.title("Temperature & Population")
        ax1.set_ylabel('Temperature', color='b')
        ax2.set_ylabel('Population Growth (annual %)', color='green')
        plt.grid(True)

        plt.legend(handles=[PopY, TempY], loc="lower right")        
        
        plt.show();       
except:
    print("Error al realizar la grafica dinamica")

###### Interaction

In [8]:
interactive(plotit, drop_country=drop_country, drop_start_year=drop_start_year, drop_end_year=drop_end_year)

interactive(children=(Dropdown(description='Country:', options=('All', 'afghanistan', 'africa', 'albania', 'alâ€¦

### Correlative PIB vs Temperature

###### Inputs & Dataframes

In [9]:
Temp = './TEMP/Resources/Temperature2.csv'
TempDf = pd.read_csv(Temp)

Pib = './PIB/Resources/PIB.csv'
PibDf = pd.read_csv(Pib)

TempDf.rename(columns={'Country Name':'Country', 'year':'Year'}, inplace=True)

In [10]:
PibDf.head()

,Country,Year,Indicator Code,Indicator Name,Country Code,PIB
0,aruba,1960,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),ABW,NaN
1,afghanistan,1960,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),AFG,NaN
2,angola,1960,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),AGO,NaN
3,albania,1960,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),ALB,NaN
4,andorra,1960,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),AND,NaN

In [11]:
TempDf.head()

       Country  Year  AverageTemperature  Standard Deviation
0  afghanistan  1960           15.051182            8.919992
1  afghanistan  1961           14.064917            9.684162
2  afghanistan  1962           13.768667            9.143732
3  afghanistan  1963           15.033417            8.857023
4  afghanistan  1964           13.084917           10.401564

###### Merge

In [12]:
PibTemp = pd.merge(PibDf,TempDf,how='left', left_on=['Country','Year'],right_on=['Country','Year'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

###### Graphic Drop Down List

In [ ]:
drop_country = widgets.Dropdown(
    options= ['All'] + list(PibTemp['Country'].unique()),
    value='All',
    description='Country:',
)

drop_start_year = widgets.Dropdown(
    options= list(PibTemp['Year'].unique()),
    value = PibTemp['Year'].min(),
    description='Start Year:',
)

drop_end_year = widgets.Dropdown(
    options= ['All'] + list(PibTemp['Year'].unique()),
    value= PibTemp['Year'].max(),
    description='End Year:',
)

###### Graphic construction

In [ ]:
try:
    def plotit(drop_country, drop_start_year, drop_end_year):
        country_pop_pip_plt_2 = PibTemp.copy()
    
        if drop_country != 'All':
            country_pop_pip_plt_2 = country_pop_pip_plt_2[country_pop_pip_plt_2.Country == drop_country]

        # Filtra el maximo y el minimo
        country_pop_pip_plt_2 = country_pop_pip_plt_2[(country_pop_pip_plt_2.Year >= drop_start_year) & (country_pop_pip_plt_2.Year <= drop_end_year)]

        country_pop_pip_plt_2["PIB"] = pd.to_numeric(country_pop_pip_plt_2["PIB"])
        country_pop_pip_plt_2["Year"] = pd.to_numeric(country_pop_pip_plt_2["Year"])
    
        country_pop_pip_plt_2 = country_pop_pip_plt_2.reset_index()
      
        fig, ax1 = plt.subplots()
        ax2 = ax1.twinx()

        TempY, = ax1.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['AverageTemperature'], color="blue", label="Average Temperature")
        PopY, = ax2.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['PIB'], color="green",label='Population')

        plt.title("PIB & Temperature")
        ax1.set_ylabel('Temperature', color='b')
        ax2.set_ylabel('PIB (annual %)', color='green')
        plt.grid(True)

        plt.legend(handles=[PopY, TempY], loc="lower right")        
        
        plt.show();       
except:
    print("Error al realizar la grafica dinamica")

###### Interaction

In [ ]:
interactive(plotit, drop_country=drop_country, drop_start_year=drop_start_year, drop_end_year=drop_end_year)

### Correlative CO2 vs PIB

###### Inputs & Dataframes

In [ ]:
csv_co2 = './CO2/Resources/CO2_country.csv'
co2_df = pd.read_csv(csv_co2)

csv_pib = './PIB/Resources/PIB.csv'
pib_df = pd.read_csv(csv_pib)

In [ ]:
co2_df.head()

In [ ]:
pib_df.head()

###### Merge

In [ ]:
co2_pib = pd.merge(co2_df,pib_df,how='left', left_on=['Country','Year'],right_on=['Country','Year'])

###### Graphic Drop Down List

In [ ]:
drop_country = widgets.Dropdown(
    options= ['All'] + list(co2_pib['Country'].unique()),
    value='All',
    description='Country:',
)

drop_start_year = widgets.Dropdown(
    options= list(co2_pib['Year'].unique()),
    value = co2_pib['Year'].min(),
    description='Start Year:',
)

drop_end_year = widgets.Dropdown(
    options= ['All'] + list(co2_pib['Year'].unique()),
    value= co2_pib['Year'].max(),
    description='End Year:',
)

###### Graphic construction

In [ ]:
try:
    def plotit(drop_country, drop_start_year, drop_end_year):
        country_pop_pip_plt_2 = co2_pib.copy()
    
        if drop_country != 'All':
            country_pop_pip_plt_2 = country_pop_pip_plt_2[country_pop_pip_plt_2.Country == drop_country]

        # Filtra el maximo y el minimo
        country_pop_pip_plt_2 = country_pop_pip_plt_2[(country_pop_pip_plt_2.Year >= drop_start_year) & (country_pop_pip_plt_2.Year <= drop_end_year)]

        country_pop_pip_plt_2["PIB"] = pd.to_numeric(country_pop_pip_plt_2["PIB"])
        country_pop_pip_plt_2["Year"] = pd.to_numeric(country_pop_pip_plt_2["Year"])
    
        country_pop_pip_plt_2 = country_pop_pip_plt_2.reset_index()
      
        fig, ax1 = plt.subplots()
        ax2 = ax1.twinx()

        co2, = ax1.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['Total'], color="blue", label="C02 Emissions")
        pib, = ax2.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['PIB'], color="green",label='PIB')

        plt.title("CO2 Emissions & PIB Growth")
        ax1.set_ylabel('C02', color='b')
        ax2.set_ylabel('PIB Growth (%)', color='green')
        plt.grid(True)

        plt.legend(handles=[co2, pib], loc="lower right")        
        
        plt.show();       
except:
    print("Error al realizar la grafica dinamica")

###### Interaction

In [ ]:
interactive(plotit, drop_country=drop_country, drop_start_year=drop_start_year, drop_end_year=drop_end_year)

### Correlative CO2 vs Population

###### Inputs & Dataframes

In [ ]:
csv_co2 = './CO2/Resources/CO2_country.csv'
co2_df = pd.read_csv(csv_co2)

csv_pop = './POP/Resources/pop.csv'
pop_df = pd.read_csv(csv_pop)

pop_df.rename(columns={'Country Name':'Country', 'year':'Year'}, inplace=True)

In [ ]:
co2_df.head()

In [ ]:
pop_df.head()

###### Merge

In [ ]:
co2_pop = pd.merge(co2_df,pop_df,how='left', left_on=['Country','Year'],right_on=['Country','Year'])

###### Graphic Drop Down List

In [ ]:
drop_country = widgets.Dropdown(
    options= ['All'] + list(co2_pop['Country'].unique()),
    value='All',
    description='Country:',
)

drop_start_year = widgets.Dropdown(
    options= list(co2_pop['Year'].unique()),
    value = co2_pop['Year'].min(),
    description='Start Year:',
)

drop_end_year = widgets.Dropdown(
    options= ['All'] + list(co2_pop['Year'].unique()),
    value= co2_pop['Year'].max(),
    description='End Year:',
)

###### Graphic construction

In [ ]:
try:
    def plotit(drop_country, drop_start_year, drop_end_year):
        country_pop_pip_plt_2 = co2_pop.copy()
    
        if drop_country != 'All':
            country_pop_pip_plt_2 = country_pop_pip_plt_2[country_pop_pip_plt_2.Country == drop_country]

        country_pop_pip_plt_2 = country_pop_pip_plt_2[(country_pop_pip_plt_2.Year >= drop_start_year) & (country_pop_pip_plt_2.Year <= drop_end_year)]
      
        fig, ax1 = plt.subplots()
        ax2 = ax1.twinx()

        co2, = ax1.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['Total'], color="blue", label="C02 Emissions")
        pop, = ax2.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['POP'], color="green",label='PIB')

        plt.title("CO2 Emissions & Population")
        ax1.set_ylabel('C02', color='b')
        ax2.set_ylabel('Population Growth (annual %)', color='green')
        plt.grid(True)

        plt.legend(handles=[co2, pop], loc="lower right")
        plt.show() 
         
except:
    print("Error al realizar la grafica dinamica")

###### Interaction

In [ ]:
interactive(plotit, drop_country=drop_country, drop_start_year=drop_start_year, drop_end_year=drop_end_year)

### Correlative CO2 vs Temperature

###### Inputs & Dataframes

In [ ]:
csv_co2 = './CO2/Resources/CO2_country.csv'
co2_df = pd.read_csv(csv_co2)

csv_temp = './TEMP/Resources/merged2.csv'
temp_df = pd.read_csv(csv_temp)

In [ ]:
co2_df.head()

In [ ]:
temp_df.head()

###### Merge

In [ ]:
co2_temp = pd.merge(co2_df,temp_df,how='left', left_on=['Country','Year'],right_on=['Country','Year'])

###### Graphic Drop Down List

In [ ]:
drop_country = widgets.Dropdown(
    options= ['All'] + list(co2_temp['Country'].unique()),
    value='All',
    description='Country:',
)

drop_start_year = widgets.Dropdown(
    options= list(co2_temp['Year'].unique()),
    value = co2_temp['Year'].min(),
    description='Start Year:',
)

drop_end_year = widgets.Dropdown(
    options= ['All'] + list(co2_temp['Year'].unique()),
    value= co2_temp['Year'].max(),
    description='End Year:',
)

###### Graphic construction

In [ ]:
try:
    def plotit(drop_country, drop_start_year, drop_end_year):
        country_pop_pip_plt_2 = co2_temp.copy()
    
        if drop_country != 'All':
            country_pop_pip_plt_2 = country_pop_pip_plt_2[country_pop_pip_plt_2.Country == drop_country]

        country_pop_pip_plt_2 = country_pop_pip_plt_2[(country_pop_pip_plt_2.Year >= drop_start_year) & (country_pop_pip_plt_2.Year <= drop_end_year)]
      
        fig, ax1 = plt.subplots()
        ax2 = ax1.twinx()

        co2, = ax1.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['Total'], color="blue", label="C02 Emissions")
        temp, = ax2.plot(country_pop_pip_plt_2['Year'], country_pop_pip_plt_2['Standard Deviation'], color="green",label='PIB')

        plt.title("CO2 Emissions & Climate Variation")
        ax1.set_ylabel('C02', color='b')
        ax2.set_ylabel('Climate Variation', color='green')
        plt.grid(True)

        plt.legend(handles=[co2, temp], loc="lower right")
        plt.show()

except:
    print("Error al realizar la grafica dinamica")

###### Interaction

In [ ]:
interactive(plotit, drop_country=drop_country, drop_start_year=drop_start_year, drop_end_year=drop_end_year)